<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
</head>

<body>
<header>
    <h1>Chad</h1>
</header>

<section style = "text-align: center">
    <div id="change_username">
        <label for = 'username'>Login: </label><input id="username" type="text" />
        <label for = 'password'>Password: </label><input id="password" type="password" />
        <button id="send_username" type="button">Sign in/Sign up: </button>
    </div>
</section>
<section id="chatroom">
    <section id="feedback"></section>
</section>



<section id="input_zone">
    <textarea id="message" class="align" type="text"></textarea>
    <button id="send_message" type="button">Send</button>
</section>

<script src="jquery-3.4.1.min.js"></script>
<script src="chat.js"></script>

</body>
</html>